* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: cyan;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transition-duration: .3s;
    color: #fff;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
}

.container a:hover {
    box-shadow: 0 0 3px 5px rgba(39, 131, 140, 0.37);
}

.container a img {
    width: 300px;
    max-width: 70%;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 30px;
        flex-direction: column;
    }
}